<nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top ">
    <a class="navbar-brand" href="#">AITS Technical</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Registration</a>
            </li>
        </ul>

    </div>
</nav>
<header
    style="background:url(https://videohive.img.customer.envatousercontent.com/files/ee9751a7-c1d7-4d0a-b468-7a4705900f77/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=e87b447dba6a5b04e011b69351f05954); background-position: center;">
    <div class="container">
        <dir class="row">
            <div class="col-md-12">
                <div class="text-center text-white">
                    <h1>Welcome to MERN BackEnd Course</h1>
                    <p>The Best Course on Youtube</p>
                </div>
            </div>
        </dir>
    </div>
</header>